*Lab # 02: Control Flows in Python*

Class Practice

In [ ]:
#First Example -try changing the value of phone_balance
phone_balance = 10
bank_balance = 50
if phone_balance < 10:
  phone_balance += 10
  bank_balance -= 10
  print(phone_balance)
  print(bank_balance)
#Second Example -try changing the value of number
# number = 145
# if number % 2 == 0:
#   print("Number " + str(number) + " is even.")
# else:
#   print("Number " + str(number) + " is odd.")
#Third Example -try to change the value of age
age = int(input("Enter your age"))
# Here are the age limits for bus fares
free_up_to_age = 4
child_up_to_age = 18
senior_from_age = 65
# These lines determine the bus fare prices
concession_ticket = 1.25
adult_ticket = 2.50
# Here is the logic for bus fare prices
if age <= free_up_to_age:
  ticket_price = 0
elif age <= child_up_to_age:
  ticket_price = concession_ticket
elif age >= senior_from_age:
  ticket_price = concession_ticket
else:
  ticket_price = adult_ticket

print(ticket_price)

Enter your age20
2.5

In [ ]:
cities = ["HYD","KHI","LHR","ISL"]
for i in range(1,10):
  print(i)

for city in cities:
  print(city)

list = []
list2 = []
for i in range(1,30):
  if i%2 == 0:
    list.append(i**2)
  else:
    list2.append(i**3)
print(list)
print(list2)

1
2
3
4
5
6
7
8
9
HYD
KHI
LHR
ISL
[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784]
[1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859, 9261, 12167, 15625, 19683, 24389]

In [ ]:
list3 = [i**2 if i%2==0 else i+3 for i in range(1,30)]
list3

[4,
 4,
 6,
 16,
 8,
 36,
 10,
 64,
 12,
 100,
 14,
 144,
 16,
 196,
 18,
 256,
 20,
 324,
 22,
 400,
 24,
 484,
 26,
 576,
 28,
 676,
 30,
 784,
 32]

Task # 01

In [ ]:
points = 174

if points <= 50:
    result = "Congrats wooden rabbit!"
elif points <= 150:
    result = "No prize ):"
elif points <= 180:
    result = "Congrats! You won a wafer-thin mint!"
else:
    result = "Congrats! You won a penguin!"

print(result)

Congrats! You won a wafer-thin mint!

Task # 02

In [ ]:
# Assuming 'answer' contains the number you are hiding and 'guess' contains the user's input

answer = 42  # You can replace this with any number you want to hide

# Get the user's guess as input
guess = int(input("Take a guess: "))

# Compare the user's guess to the answer
if guess < answer:
    print("Your guess was too low.")
elif guess > answer:
    print("Your guess was too high.")
else:
    print("Congratulations! You guessed the correct number!")

Take a guess: 5
Your guess is too low.

Task # 03

In [ ]:
def calculate_tax(state, amount):
    # Dictionary to store the tax rates for each state
    tax_rates = {
        'CA': 0.075,
        'MN': 0.095,
        'NY': 0.089
    }

    # Check if the provided state exists in the tax_rates dictionary
    if state in tax_rates:
        tax_rate = tax_rates[state]
        tax_amount = amount * tax_rate
        total_amount = amount + tax_amount
        return total_amount
    else:
        raise ValueError("Invalid state. Tax rate for the provided state is not available.")

# Example usage:
state = input("Enter your state (CA, MN, or NY): ")
amount = float(input("Enter the purchase amount: "))

try:
    total_amount_with_tax = calculate_tax(state, amount)
    print(f"Total amount with tax: ${total_amount_with_tax:.2f}")
except ValueError as e:
    print(str(e))

Enter your state (CA, MN, or NY): NY
Enter the purchase amount: 50
Total amount with tax: $54.45

Task # 04

In [ ]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

# Using a for loop to print each element of the list on its own line
for word in sentence:
    print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

Task # 05

In [ ]:
# Using a for loop to print multiples of 5 less than or equal to 30
for number in range(5, 31, 5):
    print(number)

Task # 06

In [ ]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

# Using list comprehension to extract the first names in lowercase
first_names = [name.split()[0].lower() for name in names]

print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

Task # 07

In [ ]:
# Using list comprehension to create a list of the first 20 multiples of 3
multiples_3 = [num * 3 for num in range(1, 21)]

print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

Task # 08

In [ ]:
scores = {
    "Rick Sanchez": 70,
    "Morty Smith": 35,
    "Summer Smith": 82,
    "Jerry Smith": 23,
    "Beth Smith": 98
}

# Using list comprehension to filter names of individuals who scored at least 65
passed = [name for name, score in scores.items() if score >= 65]

print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

Task # 09

In [ ]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

# Using zip() to create the dictionary 'cast'
cast = dict(zip(cast_names, cast_heights))

print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

Task # 10

In [ ]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

# Using enumerate() and a for loop to modify the 'cast' list
for index, name in enumerate(cast):
    height = heights[index]
    cast[index] = f"{name}{height}"

print(cast)

['Barney Stinson72', 'Robin Scherbatsky68', 'Ted Mosby72', 'Lily Aldrin66', 'Marshall Eriksen76']